@import 'config';

.button {
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 42px;

  &--icon {

    svg {
      width: 21px;
      margin-left: 12px;
    }
  }

  &--wire {
    position: relative;
    background-clip: padding-box; /* !importanté */
    border: solid 3px transparent; /* !importanté */
    position: relative;
    z-index: 1;
    font-weight: bold;

    .bg--green-100 & {
      background-color: $color--green-100;

      svg { fill: $color--brown-900; }

      &::before {
        background: linear-gradient(90deg, $color--brown-900, $color--brown-600);
      }
    }

    .bg--green-700 & {
      background-color: $color--green-700;

      svg { fill: $color--brown-200; }

      &::before {
        background: linear-gradient(90deg, $color--brown-200, white);
      }
    }

    &:active {
      top: 2px;

      &::before {
        padding: 5px 5px;
      }
    }

    &::before {
      content: '';
      position: absolute;
      padding: 6px 5px;
      top: -4px;
      left: -5px;
      border-radius: 60px;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }
}
