@import '../../../assets/scss/config';

.reviews {
  background: linear-gradient(90deg, $color--green-100, white);
  padding: ($space * 14) 0;

  &__title {
    text-align: center;
    font-family: source-sans-pro, sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: $color--brown-700;
  }

  &__list {
    list-style: none;
    padding: 0;
    display: flex;
    overflow: hidden;

    &__item {
      display: none;
      flex-shrink: 0;
      width: 100vw;
      text-align: center;
      font-family: monarcha, serif;
      font-weight: 700;
      font-style: italic;
      font-size: 1.8rem;
      padding: 0 ($space * 4);
      box-sizing: border-box;

      &.active {
        display: block;
      }
    }
  }

  &__controls {
    display: flex;
    justify-content: center;

    &__previous, &__next {
      fill: $color--brown-700;
      appearance: none;
      border: none;
      background: none;
      display: flex;
      align-items: center;
      cursor: pointer;

      svg {
        width: 18px;
        height: 18px;
      }
    }

    &__previous {
      transform: rotate(180deg);
      margin-right: $space;
    }

    &__next {
      margin-left: $space
    }

    &__dots {
      display: flex;
      justify-content: center;
      padding: 0;

      &__dot {
        margin: 0 $space;
        list-style: none;
        position: relative;
        border: solid 4px $color--brown-700; /* !importanté */
        height: 9px;
        width: 9px;
        z-index: 1;
        border-radius: 12px;
        cursor: pointer;

        &.active {
          background-color: $color--brown-700;
        }
      }
    }
  }

}
