
<article class="page">
  <figure class="header__figure">
    <img src="../../../assets/images/home-header.jpg" alt="Wia met de paarden">
  </figure>
  <main>
    <section class="container content-block content-block--image-right">
      <div class="content-block__content bg--green-100">
        <h1>Wat is paardencoaching?</h1>
        <p>
          Paardencoaching is mensen helpen met de wijsheid van de paarden.
          Paarden hebben het vermogen om gevoel te spiegelen. In de natuur nemen zij de spierspanning waar van roofdieren en van kuddegenoten. Dit hebben ze nodig om te overleven. Wanneer een paard in de natuur een roofdier ziet, dan weet het paard meteen wat zijn intenties zijn. Gaat hij aanvallen of loopt het roofdier rustig en is er geen gevaar voor het paard. Moet het paard vluchten of kan het paard rustig in de kudde blijven grazen. Een paard is zich altijd bewust van wat er om hem heen gebeurt. Daar zal hij zijn gedrag voortdurend op afstemmen. Zowel naar kuddegenoten als naar de mensen die zich in zijn omgeving bevinden.
          Dus wanneer iemand bij een paard is, dan reageert het paard met lichaamstaal op wat hij waarneemt bij een mens. Wanneer iemand gecoacht wordt bij een paard in de buurt, dan zal het paard de spanningen en gevoelens spiegelen. Zo kom je snel tot de kern en door de open vragen die ik als paardencoach stel, ontstaat vaak inzicht. Door nieuwe inzichten krijg je meer vat op jezelf en op hoe jij je wilt voelen.
        </p>
      </div>
      <img class="content-block__image" src="../../../assets/images/donna-in-stal.jpg" alt="Wia met paard Donna">
    </section>
    <section class="container content-block content-block--image-center">
      <div class="content-block__content bg--green-700">
        <h1>Voor wie is paardencoaching?</h1>
        <p>
          Wat kan Paardencoaching voor je doen? Je kunt inzichten krijgen en je kan de regie over je gevoel weer terugpakken. De kracht van paardencoaching is dat je heel snel tot de kern kan komen en hierdoor nieuwe inzichten op kan doen. Waardoor je patronen en gewoontes makkelijker kan veranderen. Hierdoor kun je weer in je eigen sterke en mooie gevoel komen.
        </p>
        <div class="buttons content-block__buttons">
          <div class="button__container">
            <a class="button button--wire button--icon" [routerLink]="['/verhalen/', 'voor-wie-is-paardencoaching']">
              Lees meer
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 18"><path d="M25.08 7.936L17.204.321c-.814-.767-2.035-.075-2.035 1.186v2.547c0 .816-.448 1.533-1.12 1.533H1.533C.86 5.587.31 6.181.31 7.022v4.005c0 .792.55 1.484 1.222 1.484h12.516c.672 0 1.12.643 1.12 1.459v2.547c0 1.236 1.22 1.928 2.014 1.162l7.857-7.418c.65-.569.671-1.731.04-2.325z" fill="inherit"/></svg>
            </a>
          </div>
          <div class="button__container">
            <a class="button button--wire button--icon" [routerLink]="['/verhalen/', 'prijzen']">
              Bekijk prijzen
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 18"><path d="M25.08 7.936L17.204.321c-.814-.767-2.035-.075-2.035 1.186v2.547c0 .816-.448 1.533-1.12 1.533H1.533C.86 5.587.31 6.181.31 7.022v4.005c0 .792.55 1.484 1.222 1.484h12.516c.672 0 1.12.643 1.12 1.459v2.547c0 1.236 1.22 1.928 2.014 1.162l7.857-7.418c.65-.569.671-1.731.04-2.325z" fill="inherit"/></svg>
            </a>
        </div>
        </div>
      </div>
      <img class="content-block__image" src="../../../assets/images/nora2.jpg" alt="Wia met paard Nora">
    </section>
    <section class="container content-block content-block--no-image">
      <div class="content-block__content bg--green-100">
        <h1>Individuele Trajectcoaching</h1>
        <p>
          Individuele trajectcoaching kan bijvoorbeeld ingezet worden bij burn-outklachten. Afhankelijk van de coachvraag ga ik in een intakegesprek bekijken wat er nodig is en kan ik een coachingtraject op maat aanbieden.
        </p>

        <div class="buttons content-block__buttons">
          <div class="button__container">
            <a class="button button--wire" href="/assets/documents/brochure_mendymelody_25-01-2021.pdf">
              Download brochure
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="container content-block content-block--image-top-left">
      <div class="content-block__content bg--green-100">
        <h1>Opleiding</h1>
        <p>
          Ik heb mijn Life- en Paardencoachingsopleiding gedaan bij de Academie voor Life- en Paardencoaching van Tirza Brouwer (erkende post Hbo-opleiding). Een hele leuke praktijkgerichte opleiding in Huijbergen. Ik ben als Life- en Paardencoach geregistreerd bij het ICR Coach Register.
        </p>
        <!-- <div class="buttons content-block__buttons">
          <div class="button__container">
          <a class="button button--wire button--icon" [routerLink]="['/verhalen/', 'opleiding-ervaring-en-visie']">
            Lees meer
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 18"><path d="M25.08 7.936L17.204.321c-.814-.767-2.035-.075-2.035 1.186v2.547c0 .816-.448 1.533-1.12 1.533H1.533C.86 5.587.31 6.181.31 7.022v4.005c0 .792.55 1.484 1.222 1.484h12.516c.672 0 1.12.643 1.12 1.459v2.547c0 1.236 1.22 1.928 2.014 1.162l7.857-7.418c.65-.569.671-1.731.04-2.325z" fill="inherit"/></svg>
          </a>
          </div>
        </div> -->
      </div>
      <img class="content-block__image" src="../../../assets/images/donna1.jpg" alt="Wia met paard Donna">
    </section>
    <section class="container content-block content-block--image-right">
      <div class="content-block__content bg--green-700">
        <h1>Mendy's Melody Paardencoaching</h1>
        <p>
          De paarden Britta, Nora en de shetlanders Tanja en Donna (moeder en dochter) zijn de coachpaarden/pony’. Zij hebben onwijs mooie dingen laten zien tijdens coachsessies. Deze vier paarden/pony’s wonen in grote stallen, lopen iedere dag buiten, ze kunnen schuilen bij slecht weer en de hele dag zijn ze lekker samen vooral hooi aan het eten. Deze goede zorg en leefomstandigheden maakt hen heel blij en dat maakt dat ze hele lieve paarden zijn, waar ik veilig mee kan coachen.
        </p>
        <!-- <div class="buttons">
          <div class="button__container">
          <a class="button button--wire button--icon" [routerLink]="['/verhalen/', 'mendys-melody-paardencoaching']">
            Lees meer
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 18"><path d="M25.08 7.936L17.204.321c-.814-.767-2.035-.075-2.035 1.186v2.547c0 .816-.448 1.533-1.12 1.533H1.533C.86 5.587.31 6.181.31 7.022v4.005c0 .792.55 1.484 1.222 1.484h12.516c.672 0 1.12.643 1.12 1.459v2.547c0 1.236 1.22 1.928 2.014 1.162l7.857-7.418c.65-.569.671-1.731.04-2.325z" fill="inherit"/></svg>
          </a>
          </div>
        </div> -->
      </div>
      <img class="content-block__image" src="../../../assets/images/mendy.jpg" alt="Wia met paard Donna">
    </section>
  </main>
</article>
